html,
body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #fff2e9;
    overflow: hidden;
}

.PageContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.contentsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 100vh;
    aspect-ratio: 5 / 7;
}

.backgroundImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.backgroundOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    height: 100vh;
    aspect-ratio: 5 / 7;

    background-color: #f8eee2db;
    z-index: 1;
}

.title {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;

    font-family: "ghanachoco";
    font-size: 3.5vh;

    z-index: 2;
}

.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;

    z-index: 2;

    .question {
        text-align: center;
        width: 100%;
        white-space: pre-line;
        font-size: 2.4vh;
        font-weight: bold;
    }

    .answer,
    .selectAnswer {
        margin: 2vh 0 0 0;
        text-align: center;
        font-family: 'RIDIBatang';
        font-size: 2vh;

        cursor: pointer;
    }

    .selectAnswer {
        color: #FF0000;
    }
}

.btnBox {
    position: relative;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    width: 100%;

    z-index: 2;

    button {
        padding: 1vh 2vh;

        background-color: #ffe8bd;
        border-radius: 1.2vh;

        line-height: 3vh;
        font-family: 'ghanachoco';
        font-size: 2vh;
        border: none;

        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            border: 2.5px solid #5e410b;
        }
    }
}


// 모바일 스타일
@media (max-width: 900px) {
    .PageContainer {
        width: 100vw;
        height: 100vh;
    }

    .contentsContainer {
        width: 100vw;
        height: auto;
        aspect-ratio: 5 / 7;
    }

    .backgroundImage {
        width: 100%;
        height: auto;
    }

    .backgroundOverlay {
        width: 100vw;
        height: 142vw;
    }

    .title {
        position: absolute;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5.5vw;
    }

    .quizBox {
        .question {
            font-size: 3.4vw;
            font-weight: bold;
        }

        .answer,
        .selectAnswer {
            margin: 3vw 0 0 0;
            font-size: 3vw;
        }
    }

    .btnBox {
        flex-direction: column;
        gap: 5vw;
        width: 100%;

        .checkText{
            background-color: #ffeed0dd;
            color: #FF0000;
            font-family: "RIDIBatang";
        }

        button {
            padding: 2vw 4vw;

            border: 2.5px solid #5e410b67;
            border-radius: 1.5vw;

            line-height: 4vw;
            font-size: 3vw;
        }
    }
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}