.PageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #f3d8c559;
}

.contentsContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    aspect-ratio: 11 / 16;


    .backgroundImage {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .backgroundOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff7e8d7;
        z-index: 1;
    }
}

.webcam {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    z-index: 10;
}

.captureButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    padding: 1vh 2vh;

    background-color: #ffe8bd;
    border-radius: 1.2vh;

    font-family: 'ghanachoco';
    font-size: 2vh;
    border: none;

    cursor: pointer;

    z-index: 10;

    &:hover {
        border: 2.5px solid #5e410b;
    }
}