.hintContainer {
    z-index: 10;
}

.hintBtn {
    position: fixed;
    top: 2vh;
    right: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 5vh;
    height: 5vh;

    border-radius: 50%;
    background-color: #FFFFFF;

    @media (max-width: 900px) {
        top: 2vw;
        right: 2vw;

        width: 8vw;
        height: 8vw;
    }

    &:hover {
        background-color: #f3e4c5;
    }
}

.hintBox {
    position: fixed;
    top: 8vh;
    right: 2vh;

    width: 35vh;
    padding: 1.1vh 2vh 1.5vh 2vh;

    background-color: #fffbf2;
    border-radius: 1vh;
    border: 0.2px solid #2b1f02;

    font-family: "RIDIBatang";
    font-size: 2vh;

    @media (max-width: 900px) {
        top: 11.5vw;
        right: 2vw;

        width: 46vw;

        border-radius: 1.8vw;

        padding: 1.5vw 2.5vw 1.8vw 2.5vw;
        font-size: 3.5vw;
        white-space: pre-line;
    }
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}